.rooms.admin-rooms
  .row.admin-table-header
    .medium-10.columns
      %h2
        = t('room.name').pluralize
    .medium-2.columns
      = link_to t('shared.create'),
        new_admin_room_path,
        class: 'button action create',
        title: t('shared.create')

  .row
    .medium-12.columns
      %table
        %thead
          %tr
            %th
              = t('room.attributes.name')
            %th
              = t('room.attributes.description')
            %th
              = t('room.attributes.room_photos')
            %th
              = t('shared.actions')
        %tbody
          - rooms.each do |room|
            %tr{ id: room.decorate.css_id }
              %td{ data: { label: t('room.attributes.name') } }
                = room.name

              %td{ data: { label: t('room.attributes.description') } }
                = room.description

              %td{ data: { label: t('room.attributes.room_photos') } }
                = render 'rooms/gallery', room: room

              %td{ data: { label: t('shared.actions') } }
                %ul.actions
                  %li
                    = link_to t('shared.edit'),
                      edit_admin_room_path(room),
                      class: 'action edit',
                      title: t('shared.edit')
                  %li
                    = link_to t('shared.delete'),
                      admin_room_path(room),
                      method: :delete,
                      data: { confirm: t('shared.confirm') },
                      class: 'action delete',
                      title: t('shared.delete')