= simple_form_for [:admin, schedule_item] do |f|
  = f.input :start
  = f.input :duration
  = f.input :activity
  = f.association :trainer, collection: trainers, label_method: :first_name, value_method: :id, include_blank: false
  = f.association :room, collection: rooms, label_method: :name, value_method: :id, include_blank: false
  = f.button :submit