%table.mobile
  %thead
    %tr
      %th
        = t('schedule_item.attributes.fitness_class')
      %th
        = t('schedule_item.attributes.date')
      %th
        = t('schedule_item.attributes.hour')
      %th
        = t('schedule_item.attributes.end')
      %th
        = t('reservation.name').pluralize
      %th
        = t('schedule_item.attributes.trainer')
      %th
        = t('schedule_item.attributes.room')
      %th
        = t('shared.actions')
  %tbody
    - schedule_items.each do |item|
      %tr{ id: item.decorate.css_id }
        %td.fitness-class-name{ data: { label: t('schedule_item.attributes.fitness_class') } }
          %span.fitness-class-color{ style: "background-color: #{ item.fitness_class.color }"}
          = item.fitness_class.name

        %td{ data: { label: t('schedule_item.attributes.date') } }
          = l(item.start.in_website_time_zone, format: :simple_date)

        %td{ data: { label: t('schedule_item.attributes.hour') } }
          = l(item.start.in_website_time_zone, format: :simple_time)

        %td{ data: { label: t('schedule_item.attributes.end') } }
          = l(item.stop.in_website_time_zone, format: :simple_time)

        %td{ data: { label: t('reservation.name').pluralize } }
          #{ item.reservations.size } / #{ item.capacity }

        %td{ data: { label:t('schedule_item.attributes.trainer') } }
          = item.trainer.first_name

        %td{ data: { label: t('schedule_item.attributes.room') } }
          = item.room.name

        %td{ data: { label: t('shared.actions') } }
          %ul.actions
            %li
              = link_to t('reservation.checkin'),
                admin_schedule_item_path(item),
                class: 'action checkin',
                title: t('reservation.checkin')
            %li
              = link_to t('schedule_item.focus'),
                focus_schedule_item_path(item),
                class: 'action show',
                title: t('schedule_item.focus')
            %li
              = link_to t('shared.edit'),
                edit_admin_schedule_item_path(item),
                class: 'action edit',
                title: t('shared.edit')
            %li
              = link_to t('shared.delete'),
                admin_schedule_item_path(item),
                method: :delete,
                data: { confirm: "#{ t('shared.confirm') } #{ t('reservation.email_warning') }" },
                remote: true,
                class: 'action delete',
                title: t('shared.delete')
