.schedule-items.admin-schedule-items
  .row.admin-table-header
    .medium-10.columns
      %h3
        = t('user.admin_panel.schedule_items')
    .medium-2.columns
      = link_to t('shared.create'),
        new_admin_schedule_item_path,
        class: 'button action create',
        title: t('shared.create')

  .row
    .medium-12.columns
      %ul.accordion.schedule-items.user-reservations{ data: { accordion: '' } }
        %li.accordion-navigation
          %a{ href: '#table-active' }
            = t('schedule_item.active')
          #table-active.content.active
            = render 'schedule_items_table', schedule_items: schedule_items.active

        %li.accordion-navigation
          %a{ href: '#table-stale' }
            = t('schedule_item.stale')
          #table-stale.content
            = render 'schedule_items_table', schedule_items: schedule_items.stale.reverse
