.schedule-items.admin-schedule-items
  .row.admin-table-header
    .medium-10.columns
      %h2
        = t('user.admin_panel.schedule_items')
    .medium-2.columns
      = link_to t('shared.create'),
        new_admin_schedule_item_path,
        class: 'button action create',
        title: t('shared.create')

  .row
    .medium-12.columns
      %h3
        = t('schedule_item.active')
      = render 'schedule_items_table', schedule_items: schedule_items.active

  .row
    .medium-12.columns
      %h3
        = t('schedule_item.stale')
      = render 'schedule_items_table', schedule_items: schedule_items.stale