= link_to t('shared.create'), new_admin_schedule_item_path, class: 'button'

%table
  %thead
    %tr
      %th
        = t('schedule_item.attributes.date')
      %th
        = t('schedule_item.attributes.hour')
      %th
        = t('schedule_item.attributes.end')
      %th
        = t('schedule_item.attributes.activity')
      %th
        = t('schedule_item.attributes.capacity')
      %th
        = t('schedule_item.attributes.trainer')
      %th
        = t('schedule_item.attributes.room')
      %th
        = t('shared.actions')
  %tbody
    - schedule_items.each do |item|
      %tr{id: item.decorate.css_id}
        %td
          = l(item.start, format: :simple_date)
        %td
          = l(item.start, format: :simple_time)
        %td
          = l(item.stop, format: :simple_time)
        %td
          = item.activity
        %td
          = item.capacity
        %td
          = item.trainer.first_name
        %td
          = item.room.name
        %td
          %ul
            %li
              = link_to t('shared.edit'), edit_admin_schedule_item_path(item)
            %li
              = link_to t('shared.delete'), admin_schedule_item_path(item), method: :delete, data: { confirm: t('shared.confirm') }