.row.admin-table-header
  .medium-10.columns
    %h3
      %span.no-wrap
        %span.fitness-class-color{ style: "background-color: #{ schedule_item.fitness_class.color }"}
        #{ t('reservation.checkin') }:
      %span.no-wrap
      #{ schedule_item.fitness_class }
      %span.no-wrap
        (#{ l(schedule_item.start.in_website_time_zone, format: :human_friendly_date_with_time) },
      %span.no-wrap
        #{ t('schedule_item.attributes.capacity') }: #{ schedule_item.capacity })

  .medium-2.columns
    = link_to t('shared.create'),
        new_admin_reservation_path(schedule_item: schedule_item),
        class: 'button action create',
        title: t('shared.create'),
        remote: true

.row
  .medium-12.columns
    %table.mobile
      %thead
        %tr
          %th
            = t('user.name')
          %th
            = t('reservation.attributes.queue')
          %th
            = t('reservation.attributes.attended')
          %th
            %span{ class: 'has-tip tip-top', 'aria-haspopup': 'true', 'data-tooltip': '', title: t('user.attributes.reliability_description') }
              = t('user.attributes.reliability')
          %th
            = t('shared.actions')
      %tbody
        - schedule_item.reservations.order(:created_at).each do |reservation|
          - queue_class = reservation.queued? ? 'queued' : 'active'
          %tr{ id: reservation.decorate.css_id, class: queue_class }
            %td{ data: { label: t('user.name') } }
              = link_to reservation.user,
                admin_user_path(reservation.user)

            %td{ data: { label: t('reservation.attributes.queue') } }
              = reservation.queue_position

            %td.status{ data: { label: t('reservation.attributes.attended') } }
              - if reservation.attended?
                %span.action.attended
                  Yes
              - elsif reservation.missed?
                %span.action.missed
                  No
              - else
                %span.action.unknown
                  ?
            %td{ data: { label: t('user.attributes.reliability') } }
              = number_to_percentage(reservation.user.reliability * 100, precision: 0)

            %td{ data: { label: t('shared.actions') } }
              %ul.actions
                = link_to t('reservation.attend'),
                  admin_reservation_path(reservation, reservation: { status: 'attended' }),
                  method: :put,
                  remote: true,
                  class: 'action attended',
                  title: t('reservation.attend')

                = link_to t('reservation.miss'),
                  admin_reservation_path(reservation, reservation: { status: 'missed' }),
                  method: :put,
                  remote: true,
                  class: 'action missed',
                  title: t('reservation.miss')
