= simple_form_for [:admin, fitness_class] do |f|
  .form-inputs
    .row
      .medium-6.columns
        = f.input :name

      .medium-6.columns
        = f.input :color, as: :color

    .row
      .medium-12.columns
        = f.input :description, input_html: { rows: 5 }

  .form-actions
    .row
      .medium-12.columns
        = f.button :button, t('shared.save'), class: 'save'