.fitness-classes.admin-fitness-classes
  .row
    .medium-12.columns
      %h2
        = t('fitness_class.name').pluralize
        = link_to t('shared.create'), new_admin_fitness_class_path, class: 'button create right'
  .row
    .medium-12.columns
      %table
        %thead
          %tr
            %th
              = t('fitness_class.attributes.name')
            %th
              = t('fitness_class.attributes.description')
            %th
              = t('shared.actions')
        %tbody
          - fitness_classes.each do |fitness_class|
            %tr{id: fitness_class.decorate.css_id}
              %td.fitness-class-name
                %span.fitness-class-color{ style: "background-color: #{ fitness_class.color }"}
                = fitness_class.name
              %td
                = fitness_class.description
              %td
                %ul.actions
                  %li
                    = link_to t('shared.edit'), edit_admin_fitness_class_path(fitness_class), class: 'edit'
                  %li
                    = link_to t('shared.delete'), admin_fitness_class_path(fitness_class), method: :delete, data: { confirm: t('shared.confirm') }, class: 'delete'