.fitness-classes.admin-fitness-classes
  .row.admin-table-header
    .medium-10.columns
      %h2
        = t('fitness_class.name').pluralize
    .medium-2.columns
      = link_to t('shared.create'),
        new_admin_fitness_class_path,
        class: 'button action create',
        title: t('shared.create')

  .row
    .medium-12.columns
      %table.mobile
        %thead
          %tr
            %th
              = t('fitness_class.attributes.name')
            %th
              = t('fitness_class.attributes.description')
            %th
              = t('shared.actions')

        %tbody
          - fitness_classes.each do |fitness_class|
            %tr{ id: fitness_class.decorate.css_id }
              %td.fitness-class-name{ data: { label: t('fitness_class.attributes.name') } }
                %span.fitness-class-color{ style: "background-color: #{ fitness_class.color }" }
                = fitness_class.name

              %td{ data: { label: t('fitness_class.attributes.description') } }
                = fitness_class.description

              %td{ data: { label: t('shared.actions') } }
                %ul.actions
                  %li
                    = link_to t('shared.edit'),
                      edit_admin_fitness_class_path(fitness_class),
                      class: 'action edit',
                      title: t('shared.edit')
                  %li
                    = link_to t('shared.delete'),
                      admin_fitness_class_path(fitness_class),
                      method: :delete,
                      data: { confirm: t('shared.confirm') },
                      class: 'action delete',
                      title: t('shared.delete')