= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .row
    .medium-12.columns
  = f.error_notification
  .row
    .medium-12.columns
      = f.input :email, required: true, autofocus: true
  .row
    .medium-12.columns
      = f.button :submit, t('devise.passwords.reset')
= render "devise/shared/links"
