= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .row
    .medium-12.columns
  = f.error_notification

  .form-inputs
    .row.collapse
      .medium-12.columns
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fa.fa-envelope-o.fa-fw
          = f.input :email,
            required: true,
            autofocus: true,
            label: false,
            placeholder: t('devise.email'), wrapper_html: { class: 'small-10 columns' }

  .form-actions
    .row.collapse
      .medium-12.columns
        = f.button :submit, t('devise.passwords.reset')

.row
  .medium-12.columns
    = render 'devise/shared/links'