= form_tag(admin_configurable_path, method: :put) do
  .form-inputs
    .row
      .medium-12.columns
        = label_tag 'site_title', t('user.admin_panel.site_title')
        = text_field_tag 'site_title', Configurable.site_title
    .row
      .small-12.medium-6.columns
        = label_tag 'time_zone', t('user.admin_panel.time_zone')
        = select_tag 'time_zone', options_from_collection_for_select(ActiveSupport::TimeZone.all, 'name', 'to_s', Configurable.time_zone), autocomplete: :off
      .small-6.medium-3.columns
        = label_tag 'day_start', t('user.admin_panel.day_start')
        = select_tag 'day_start', options_from_collection_for_select((0..23), 'to_s', 'to_s', Configurable.day_start), autocomplete: :off
      .small-6.medium-3.columns
        = label_tag 'day_end', t('user.admin_panel.day_end')
        = select_tag 'day_end', options_from_collection_for_select((1..24), 'to_s', 'to_s', Configurable.day_end), autocomplete: :off
  .form-actions
    .row
      .medium-12.columns
        = submit_tag t('shared.save'), class: 'button'
