= form_tag(admin_configurable_path, method: :put) do
  .form-inputs
    .row
      .medium-12.columns
        = label_tag 'site_title' do
          = t('user.admin_panel.site_title')

        = text_field_tag 'site_title',
          Configurable.site_title

    .row
      .medium-12.columns
        = label_tag 'email' do
          = t('user.admin_panel.email')

        = text_field_tag 'email',
          Configurable.email

    .row
      .small-12.medium-6.columns
        = label_tag 'time_zone' do
          = t('user.admin_panel.time_zone')

        = select_tag 'time_zone',
          options_from_collection_for_select(ActiveSupport::TimeZone.all, :name,:to_s,Configurable.time_zone),
          autocomplete: :off

      .small-6.medium-3.columns
        = label_tag 'day_start' do
          = t('user.admin_panel.day_start')

        = select_tag 'day_start',
          options_from_collection_for_select((0..23), :to_s, :to_s, Configurable.day_start),
          autocomplete: :off

      .small-6.medium-3.columns
        = label_tag 'day_end' do
          = t('user.admin_panel.day_end')

        = select_tag 'day_end',
          options_from_collection_for_select((1..24), :to_s, :to_s, Configurable.day_end),
          autocomplete: :off

    .row
      .small-12.columns
        = label_tag 'cancellation_deadline' do
          = t('user.admin_panel.cancellation_deadline')

        - deadlines = (0..10).to_a + [12, 16, 24, 36, 48]
        - deadline_options = deadlines.map { |i| [i, "#{ i } #{ 'hour'.pluralize(i) } before class starts"]}

        = select_tag 'cancellation_deadline',
          options_from_collection_for_select(deadline_options, :first, :second, Configurable.cancellation_deadline),
          autocomplete: :off

    .row
      .medium-6.columns
        = label_tag 'topbar_bg_color' do
          = t('user.admin_panel.topbar_bg_color')

        = text_field_tag 'topbar_bg_color',
          Configurable.topbar_bg_color,
          class: 'colorpicker'

      .medium-6.columns
        = label_tag 'primary_color' do
          = t('user.admin_panel.primary_color')

        = text_field_tag 'primary_color',
          Configurable.primary_color,
          class: 'colorpicker'

  .form-actions
    .row
      .medium-12.columns
        = content_tag :button, type: :submit, class: 'button action save' do
          = t('shared.save')
