= simple_form_for resource, as: resource_name, url: session_path(resource_name), remote: true do |f|
  - unless alert.nil?
    .form-errors
      = alert
  .form-inputs
    .row
      .medium-12.columns
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fa.fa-envelope-o.fa-fw
          = f.input :email, required: false, autofocus: true, label: false, placeholder: t('devise.email'), wrapper_html: { class: 'small-10 columns' }
    .row
      .medium-12.columns
        .row.collapse
          .small-2.columns
            %span.prefix
              %i.fa.fa-key.fa-fw
          = f.input :password, required: false, label: false, placeholder: t('devise.password'), wrapper_html: { class: 'small-10 columns' }
    - if devise_mapping.rememberable?
      .row
        .medium-12.columns
          = f.input :remember_me, as: :boolean
  .form-actions
    .row
      .medium-12.columns
        = f.button :submit, t('user.login')
.row
  .medium-12.columns
    = render 'devise/shared/links'
