%h5= schedule_item.activity
%p= l(schedule_item.start, format: :simple_date)
%p= "When: #{l(schedule_item.start, format: :simple_time)} - #{l(schedule_item.decorate.stop, format: :simple_time)}"
%p= "Where: #{schedule_item.room.name}"

- if user_signed_in?
  - if current_user.reservation_for?(schedule_item)
    = link_to t('reservation.delete'), user_reservation_path(current_user.id, current_user.reservation_for(schedule_item)), method: :delete, remote: true, class: 'button button-delete'
  - else
    = render 'reservations/form', reservation: current_user.reservations.new, schedule_item: schedule_item