.schedule
  .week
    .hours
      .day-schedule
        - ScheduleItem.day_duration_in_hours.times do |n|
          .hour{ style: "top: #{100.0 * n / ScheduleItem.day_duration_in_hours}%; height: #{100.0 / ScheduleItem.day_duration_in_hours}%;"}
            = l(ScheduleItem.beginning_of_day(Time.zone.now) + n.hours, format: :simple_time)
    - order_by_weekdays(schedule_items, week_offset).each do |day, items|
      .day
        .day-header
          %h4= l(day, format: :weekday)
          %h5= l(day, format: :simple_date)
        .day-schedule
          = render 'schedule_items/schedule_table_items', items: items
