- unless items.nil?
  - items.each do |item|
    - item_style = "top: #{schedule_item_start_day_percentage(item)}%;"
    - item_style << "left: #{schedule_item_left_position(item, items)}%;"
    - item_style << "height: #{schedule_item_duration_day_percentage(item)}%;"
    - item_style << "width: #{schedule_item_width(item, items)}%;"

    .item{ style: item_style }
      - if item.stale?
        = render 'schedule_table_item_stale', item: item

      - else
        = render 'schedule_table_item_active', item: item