%button{ class: 'button tiny secondary dropdown', data: { 'dropdown': 'rooms-dropdown' } }
  = filter_params[:room] ? rooms.find(filter_params[:room]) : t('room.name')

%ul{ id: 'rooms-dropdown',
  class: 'f-dropdown',
  data: { 'dropdown-content': '' } }

  %li
    = link_to t('shared.all'), schedule_items_path(filter_params.except(:room).merge({ week_offset: week_offset }))

  = list_of rooms.order(:name) do |room|
    = link_to room, schedule_items_path(filter_params.merge({ room: room.id, week_offset: week_offset }))

%button{ class: 'button tiny secondary dropdown', data: { 'dropdown': 'trainers-dropdown' } }
  = filter_params[:trainer] ? trainers.find(filter_params[:trainer]) : t('trainer.name')

%ul{ id: 'trainers-dropdown', class: 'f-dropdown', data: { 'dropdown-content': '' }}
  %li
    = link_to t('shared.all'), schedule_items_path(filter_params.except(:trainer).merge({ week_offset: week_offset }))

  = list_of trainers.order(:first_name) do |trainer|
    = link_to trainer, schedule_items_path(filter_params.merge({ trainer: trainer.id, week_offset: week_offset }))
