- unless items.nil?
  - items.each do |item|
    .item{ style: "top: #{schedule_item_start_day_percentage(item)}%; left: #{schedule_item_left_position(item, items)}%; height: #{schedule_item_duration_day_percentage(item)}%; width: #{schedule_item_width(item, items)}%;"}
      - if item.stale?
        .item-box.stale
          = render 'schedule_items/schedule_table_item', item: item
      - else
        - item_box_class = 'item-box'
        - if user_signed_in? && current_user.reservation_for?(item)
          - item_box_class << ' reserved'
        %a{ href: room_schedule_item_path(item.room, item), class: item_box_class, data: { remote: true } }
          = render 'schedule_items/schedule_table_item', item: item