- unless items.nil?
  - items.each do |item|
    .item{ style: "top: #{item.decorate.start_day_percentage}%; left: #{schedule_item_left_position(item, items)}%; height: #{item.decorate.duration_day_percentage}%; width: #{schedule_item_width(item, items)}%;"}
      - if item.stale?
        .item-box.stale
          = "#{l(item.start, format: :simple_time)} #{item.activity}"
      - else
        - klass = 'item-box'
        - if user_signed_in? && current_user.reservation_for?(item)
          - klass << ' reserved'
        %div{ class: klass }
          - # TODO: make the whole box clickable
          = link_to "#{l(item.start, format: :simple_time)} #{item.activity}", room_schedule_item_path(item.room, item), remote: true