%ul
  - schedule_items.each do |schedule_item|
    %li= "#{l(schedule_item.start.to_date)}: #{l(schedule_item.start, format: :simple_time)} - #{schedule_item.activity}"
= link_to 'prev week', schedule_items_path(week: @week - 1.week)
= link_to 'next week', schedule_items_path(week: @week + 1.week)