.schedule-header
  .location
    = header
  .navigation
    = link_to t('schedule_item.prev_week'), schedule_items_path(params.merge({ week_offset: week_offset - 1 })), remote: true, class: 'prev-week'
    = link_to t('schedule_item.this_week'), schedule_items_path(params.merge({ week_offset: 0 })), remote: true, class: 'this-week'
    = link_to t('schedule_item.next_week'), schedule_items_path(params.merge({ week_offset: week_offset + 1 })), remote: true, class: 'next-week'
#schedule
  = render 'schedule_items/schedule_table', schedule_items: schedule_items
