= simple_form_for user, url: admin_user_path(user) do |f|
  .form-inputs
    .row
      .medium-6.columns
        = f.input :first_name,
          required: true,
          autofocus: true,
          placeholder: t('user.attributes.first_name')

      .medium-6.columns
        = f.input :last_name,
          required: true,
          placeholder: t('user.attributes.last_name')

    .row
      .medium-12.columns
        = f.input :email,
          required: true,
          placeholder: t('devise.email')

  .form-actions
    .row
      .medium-12.columns
        = f.button :submit, t('shared.save')

