= simple_form_for [:admin, trainer] do |f|
  .form-inputs
    .row
      .medium-6.columns
        = f.input :first_name
      .medium-6.columns
        = f.input :last_name
    .row
      .medium-12.columns
        = f.input :description, :input_html => { rows: 5 }
  .form-actions
    .row
      .medium-12.columns
        = f.button :button, t('shared.save'), class: 'save'