- if current_user.admin?
  %li.has-dropdown.admin-panel
    %a{href: '#'}
      = t('user.admin_panel.name')
    %ul.dropdown
      %li
        = link_to t('fitness_class.name').pluralize, admin_fitness_classes_path
      %li
        = link_to t('schedule_item.name').pluralize, admin_schedule_items_path
      %li
        = link_to t('trainer.name').pluralize, admin_trainers_path
      %li
        = link_to t('room.name').pluralize, admin_rooms_path
      %li
        = link_to t('user.admin_panel.settings'), admin_configurable_path