%li.has-dropdown
  = link_to '#' do
    = current_user.email
  %ul.dropdown
    %li
      = link_to user_reservations_path(user_id: current_user.id) do
        = t('user.reservations')
    %li
      = link_to edit_user_registration_path(current_user) do
        = t('user.settings')
    %li
      = link_to destroy_user_session_path, method: :delete, remote: true do
        = t('user.logout')
