!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title FitnessClassSchedule
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/top_bar'
    - if flash[:alert]
      .alert-box.warning{{ 'data-alert': '' }}
        = flash[:alert]
        %a.close{href: '#'}
          &times;
    - if flash[:notice]
      .alert-box.info{{ 'data-alert': '' }}
        = flash[:notice]
        %a.close{href: '#'}
          &times;
    = yield
